.header-form {
    width: 100%;
    height: 110px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    border-bottom: 1px solid #7f00b2;

    h1 {
        font-size: 2.3em;
        color: #7f00b2;
        margin: 0;
        padding: .6em 0 .2em 0;
        cursor: pointer;
    }

    p {
        font-size: .9em;
        padding: 0;
        margin: 0;
    }
}

.btnBackHome {
    font-size: 1.1rem;
    position: absolute;
    top: 45px;
    left: 100px;
    cursor: pointer;
    color: #7f00b2;
    font-family: 'Rubik', sans-serif;

    &:hover {
        font-weight: 500;
    }
}

.buyFinishToasty {
    font-size: 1rem;
    position: absolute;
    top: calc(50vh - 180px);
    left: calc(50vw - 150px);
    width: 300px;
    height: 180px;
    padding: .7em;
    font-family: 'Rubik', sans-serif;
    background-color: #fff;
    border-radius: 16px;
    border: 2px solid #7f00b2;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;

    &.visible {
        display: block;
    }

    h2 {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: .5em 0;
        font-size: 1.4em;
        font-weight: 500;
        border-bottom: 1px #7f00b2 solid;
    }

    p {
        margin: .8em 0;
        padding: 0;
        font-size: 1.1em;
        text-align: center;
    }

    button {
        background-color: #7f00b2;
        border: none;
        color: #fff;
        border-radius: 4px;
        padding: .3em 5em;
        margin-left: 3em;
        cursor: pointer;
        font-size: 1em;
        transition: .6s ease all;

        &:hover {
            background-color: #990fcf;
        }
    }
}

.buyInformation {
    font-size: 1rem;
    margin: 2em 0;
    display: grid;
    grid-template-columns: 50% 30%;
    gap: 2em;
    justify-content: center;

    h2 {
        width: 100%;
        margin: 0;
        padding: .5em 0;
        font-size: 1.2em;
        font-weight: 500;
        border-bottom: 1px solid #7f00b2;
        font-family: 'Signika Negative', sans-serif;
    }

    &__form {
        padding: 1em 2em;
        border-radius: 15px;

        form {
            margin: 1.5em 0;
            font-family: 'Rubik', sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;
            width: 100%;

            .form-input {
                width: 97%;
                height: 45px;
                padding: 0;
                font-size: 1em;
                outline: none;
                border: 1px #9b9b9b solid;
                padding-left: 10px;
                transition: .6s all ease;

                &.focus {
                    border: 1px solid #7f00b2;
                }

                &.invalid {
                    border: 2px solid #ff4719;
                }
            }

            .form-element-multiple {
                width: 100%;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: space-between;

                input {
                    width: 46%;
                }
            }

            .form-check {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 1em;

                label {
                    font-size: 1.2em;
                    margin: .3em 0;
                }
            }

            button {
                background-color: #7f00b2;
                border: none;
                color: #fff;
                border-radius: 4px;
                padding: .4em 4em;
                cursor: pointer;
                font-size: 1.2em;
                transition: .6s ease all;

                &:hover {
                    background-color: #990fcf;
                }
            }
        }

        background-color: #fff;
    }

    &__cartContent {
        background-color: #fff;
        padding: 1em 2em;
        border-radius: 15px;
        font-family: 'Rubik', sans-serif;

        &__products {
            width: 100%;
            height: 250px;
            overflow: scroll;
            display: flex;
            flex-direction: column;
            gap: .4em;
            margin: .6em 0;

            &__item {
                display: flex;
                justify-content: space-between;
                padding: .5em .3em;
                border-bottom: 1px solid #9b9b9b;

                img {
                    width: 70px;
                    height: 80px;
                }

                &__description {
                    display: flex;
                    flex-direction: column;
                    width: 120px;

                    &__name {
                        font-size: .9em;
                        padding: 0;
                        margin: .4em 0;
                    }

                    &__units {
                        font-size: 1em;
                        padding: 0;
                        margin: 0;
                        font-family: 'Signika Negative', sans-serif;
                    }
                }

                &__price {
                    font-size: .9em;
                    font-family: 'Signika Negative', sans-serif;
                }
            }

        }

        &__resume {
            &__total {
                margin: 0;
                padding: 0;
                font-size: 1.2em;
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width:575px) {
    .header-form {
        font-size: .9rem;
    }

    .btnBackHome {
        font-size: 1rem;
        top: 86px;
        left: 20px;
    }

    .buyInformation {
        font-size: .8rem;
        display: grid;
        grid-template-columns: 90%;
        justify-content: center;

        &__form {
            form {
                .form-input {
                    width: 96%;
                }

                .form-element-multiple {
                    width: 100%;

                    input {
                        width: 44%;
                    }
                }
            }
        }

        &__cartContent {
            display: none;
        }
    }

    .buyFinishToasty {
        font-size: .9rem;
        top: calc(50vh - 140px);
        height: 160px;

        button {
            margin-left: 4em;
        }
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {
    .header-form {
        font-size: .9rem;
    }

    .btnBackHome {
        font-size: 1rem;
        top: 86px;
        left: 20px;
    }

    .buyInformation {
        font-size: .8rem;
        display: grid;
        grid-template-columns: 90%;
        justify-content: center;

        &__form {
            form {
                .form-input {
                    width: 96%;
                }

                .form-element-multiple {
                    width: 100%;

                    input {
                        width: 44%;
                    }
                }
            }
        }

        &__cartContent {
            display: none;
        }
    }

    .buyFinishToasty {
        font-size: .9rem;
        top: calc(50vh - 140px);
        height: 160px;

        button {
            margin-left: 4em;
        }
    }
}

@media only screen and (min-width:768px) and (max-width:992px) {
    .header-form {
        font-size: .9rem;
    }

    .btnBackHome {
        font-size: 1rem;
        top: 86px;
        left: 20px;
    }

    .buyInformation {
        font-size: .8rem;
        display: grid;
        grid-template-columns: 50% 40%;
        justify-content: center;

        &__form {
            form {
                .form-input {
                    width: 96%;
                }

                .form-element-multiple {
                    width: 100%;

                    input {
                        width: 44%;
                    }
                }
            }
        }
    }

    .buyFinishToasty {
        font-size: .9rem;
        top: calc(50vh - 140px);
        height: 160px;

        button {
            margin-left: 4em;
        }
    }
}