.header {
    width: 100%;
    background-color: #7f00b2;
    font-size: 1rem;
    position: sticky;
    z-index: 100;
    top: 0;
    font-family: 'Rubik', sans-serif;
    .navBar {
        height: 50px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & div {
            display: flex;
            align-items: center;
        }
        &__logo {
            color: #fff;
            font-size: 1.3em;
            padding: 0;
            font-weight: bold;
            text-decoration: none;
        }
        &__menu {
            display: flex;
            list-style: none;
            align-items: center;
            color: #fff;
            font-weight: 500;
            & li {
                margin: 0 .4em;
                position: relative;
            }
            & li a {
                text-decoration: none;
                color: #fff;
                font-size: 1em;
                padding: 1em;
                display: block;

                &:hover,
                &:focus {
                    background-color: #a400e6;
                }
            }
            & li ul {
                left: 0;
                top: 50px;
                padding: .3em 0;
                text-align: left;
                display: none;
                min-width: 200px;
                position: absolute;
                background-color: #7f00b2;
                z-index: 50;
                & li {
                    list-style: none;
                    padding: 0;
                    border-radius: 0;
                    margin: 0;
                    & a {
                        font-size: .9em;
                        font-weight: 400;
                        margin:  0;
                        padding: .7em 1em;
                        &:hover,
                        &:focus {
                            background-color: #a400e6;
                        }
                    }
                }
            }
            & li:hover {
                ul {
                    display: block;
                }
            }
            form {
                position: relative;
                input {
                    padding: 6px;
                    width: 300px;
                    background: transparent;
                    color: #fff;
                    font-size: 1.1em;
                    border: 1px solid rgb(216, 216, 216);
                    font-family: 'Signika Negative', sans-serif;
                    &:focus {
                        outline: none;
                    }
                }
                span {
                    position: absolute;
                    left: 0px;
                    top: 40px;
                    height: 2.5em;
                    width: 100%;
                    border-radius: 8px;
                    background-color: rgba(255, 0, 119, 0.95);
                    opacity: 0;
                    transition: .2s all ease-in;

                    p {
                        margin: 0;
                        padding: .6em 0;
                        text-align: center;
                        font-size: 1em;
                    }
                    &.show {
                        opacity: 1;
                    }
                }
            }
            &__btnCartMenu {
                color: #fff;
                padding: .8em 1.1em;
                margin: 0;
                cursor: pointer;
                text-align: center;
                position: relative;
                i {
                    font-size: 1.4em;
                    vertical-align: bottom;
                    padding: 0;

                }
                &:hover {
                    background-color: #a400e6;
                }
                &-counter {
                    position: absolute;
                    top: 6px;
                    right: 0px;
                    border-radius: 50%;
                    color: #fff;
                    font-weight: bold;
                    font-size: .9em;
                    width: 16px;
                    text-align: center;
                    padding: 1px;
                }
            }
            &.show {
                top: 50px;
            }
        }
        &__btnCartResponsive {
            color: #fff;
            padding: .9em 1.2em;
            margin: 0;
            margin-right: 3em;
            cursor: pointer;
            text-align: center;
            position: relative;
            display: none;
            i {
                font-size: 1.5em;
                vertical-align: bottom;
                padding: 0;
            }
            &:hover {
                background-color: #a400e6;
            }
            &-counter {
                position: absolute;
                top: 6px;
                right: -1px;
                border-radius: 50%;
                color: #fff;
                font-weight: bold;
                font-size: .9em;
                width: 16px;
                text-align: center;
                padding: 1px;
            }
        }
    }
    .btn__nav {
        font-size: 25px;
        color: #fff;
        cursor: pointer;
        display: none;

    }
}

@media only screen and (max-width:575px) {
    .header {
        font-size: .8rem;
        .navBar {
            width: 100%;
            height: 50px;
            &__logo {
                padding: .6em 0;
                margin: 0;
                margin-left: .5em;
            }
            &__menu {
                position: fixed;
                width: 100%;
                margin: 0;
                padding: 0;
                height: calc(100vh - 50px);
                background: #7f00b2;
                top: -100vh;
                text-align: center;
                transition: .6s all ease;
                flex-direction: column;
                & li {
                    width: 100%;
                    margin: .6em 0;
                    transition: .3s all ease;
                }
                & li a {
                    padding: 1em 1em;
                    font-size: 1em;
                    font-weight: bold;
                }
                & li ul {
                    top: 40px;
                    text-align: center;
                    display: none;
                    min-width: 100%;
                    position: absolute;
                    & li {
                        & a {
                            font-size: .9em;
                            margin: .3em 0;
                            padding: 1em;          
                        }
                    }
                }
                form {
                    input {
                        font-size: 1.1em;
                    }
                }
                & .navBar__menu__btnCartMenu {
                    display: none;
                }
            }
            &__btnCartResponsive {
                display: block;
            }
        }
        .btn__nav {
            display: block;
            margin-left: 1em;
            i {
                padding: 4px 8px;
                font-size: 1em;

                &:hover {
                    outline: 1px solid #fff;
                }
            }
            &.active {
                i {
                    font-weight: bold;
                    outline: 1px solid #fff;
                }
            }
        }
    }

}

@media only screen and (min-width:576px) and (max-width:768px) {
    .header {
        font-size: .9rem;
        .navBar {
            width: 100%;
            height: 50px;
            &__logo {
                padding: 0;
                margin: 0;
                margin-left: .5em;
            }
            &__menu {
                position: fixed;
                width: 100%;
                height: calc(100vh - 50px);
                margin: 0;
                padding: 0;
                background: #7f00b2;
                top: -100vh;
                text-align: center;
                transition: all ease .8s;
                flex-direction: column;
                & li {
                    width: 100%;
                    margin: .6em 0;
                }
                & li a {
                    padding: 1em;
                    font-size: 1em;
                    font-weight: bold;
                }
                & li ul {
                    top: 40px;
                    text-align: center;
                    min-width: 100%;
                    display: none;
                    position: absolute;
                    & li {
                        & a {
                            font-size: .9em;
                            margin: .3em 0;
                            padding: 1em;
                        }
                    }
                }
                form {
                    input {
                        font-size: 1.1em;
                    }
                }
                & .navBar__menu__btnCartMenu {
                    display: none;
                }
            }
            &__btnCartResponsive {
                display: block;
            }
        }
        .btn__nav {
            display: block;
            margin-left: 1em;
            i {
                padding: 4px 8px;

                &:hover {
                    outline: 1px solid #fff;
                }
            }
            &.active {
                i {
                    font-weight: bold;
                    outline: 1px solid #fff;
                }
            }
        }
    }
}

@media only screen and (min-width:768px) and (max-width:992px) {
    .header {
        font-size: .9rem;
        .navBar {
            width: 100%;
            height: 50px;
            &__logo {
                padding: 0;
                margin: 0;
                margin-left: .5em;
            }
            &__menu {
                position: fixed;
                width: 100%;
                height: calc(100vh - 50px);
                margin: 0;
                padding: 0;
                background: #7f00b2;
                top: -100vh;
                text-align: center;
                transition: all ease .8s;
                flex-direction: column;
                & li {
                    width: 100%;
                    margin: .6em 0;
                }
                & li a {
                    padding: .8em 1em;
                    font-size: 1.1em;
                    font-weight: bold;
                }
                & li ul {
                    top: 40px;
                    text-align: center;
                    min-width: 100%;
                    display: none;
                    position: absolute;
                    & li {
                        & a {
                            font-size: .9em;
                            margin: .3em 0;
                            padding: 1em;
                        }
                    }
                }
                form {
                    input {
                        font-size: 1.1em;
                    }
                }
                & .navBar__menu__btnCartMenu {
                    display: none;
                }
            }
            &__btnCartResponsive {
                display: block;
            }
        }

        .btn__nav {
            display: block;
            margin-left: 1em;
            i {
                padding: 4px 8px;

                &:hover {
                    outline: 1px solid #fff;
                }
            }
            &.active {
                i {
                    font-weight: bold;
                    outline: 1px solid #fff;
                }
            }
        }
    }
}