.productsInformation {
    font-size: 1rem;
    width: 90%;
    height: 94px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__title {
        font-size: 1.6em;
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        margin: 0;

    }
    &__results {
        font-size: 1.2em;
        font-family: 'Signika Negative', sans-serif;
        margin: 0;
    }
}

.productsContainer {
    width: 90%;
    font-size: 1rem;
    padding: 0;
    margin: .6em auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__item {
        background-color: #fff;
        display: flex;
        width: 180px;
        margin: .7em .45em;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        transition: .2s ease;
        &:hover {
            box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.25);

            & button {
                opacity: 1;
            }
        }
        &__info {
            margin: 0 .8em;
            position: relative;
            & img {
                width: 100%;
                height: 190px;
                margin-bottom: .7em;
                cursor: pointer;
                transition: .4s ease;

                &.back {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;

                }
                &:hover {
                    &.back {
                        opacity: 1;
                    }
                }
            }
            .productsContainer__item__info-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                min-height: 110px;
            }
            &__name {
                margin: 0;
                padding: 0;
                min-height: 3.5em;
                font-weight: 300;
                font-size: 1em;
                font-family: 'Rubik', sans-serif;
            }
            &__price {
                margin: 0;
                margin-bottom: .8em;
                font-family: 'Signika Negative', sans-serif;
                font-size: 1.2em;
            }
        }
        & button {
            position: absolute;
            bottom: .8em;
            right: .95em;
            opacity: 0;
            padding: 6px 15px;
            border-radius: 8px;
            background-color: #7f00b2;
            text-align: center;
            color: #fff;
            border: none;
            transition: .5s all ease;
            cursor: pointer;
            &:hover {
                background-color: #9c0ed4;
            }
            & i {
                font-size: 1.3em;
            }
        }

    }
}
@media only screen and (max-width:575px) {
    .productsInformation {
        font-size: .7rem;
    }
    .productsContainer {
        width: 90%;
        font-size: .9rem;
        padding: 0;
        margin: .5em auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__item {
            display: flex;
            width: 100%;
            margin: .4em 0;
            position: relative;
            flex-direction: row;
            justify-content: space-between;
            transition: .2s ease;
            &__info {
                margin: 0;
                padding: .5em 2em;
                position: relative;
                display: flex;
                justify-content: space-between;
                width: 100%;
                & img {
                    width: 120px;
                    height: 130px;
                    margin-bottom: 0;

                    &.back {
                        top: .5em;
                        left: 2em;
                    }
                }
                .productsContainer__item__info-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin: 1em 1em 1em 1em;
                }
                &__name {
                    text-align: right;
                }
                &__price {
                    margin: 0;
                    text-align: left;
                }
            }
        }

        & button {
            bottom: 25px;
            right: 40px;
            opacity: 1;
            padding: 7px 17px;
            border-radius: 8px;
            background-color: #7f00b2;
            text-align: center;
            color: #fff;
            border: none;
            transition: .5s all ease;
            &:hover {
                background-color: #9c0ed4;
            }
            & i {
                font-size: 1.3em;
            }
        }
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {
    .productsInformation {
        font-size: .8rem;
    }
    .productsContainer {
        font-size: .9rem;
        &__item {
            width: 150px;
            margin: .5em .4em;
            &__info {
                margin: 0 .7em;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                & img {
                    width: 100%;
                    height: 160px;
                    margin-bottom: .7em;
                }
                .productsContainer__item__info-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    min-height: 100px;
                }
                &__name {
                    margin: 0;
                    padding: 0;
                    min-height: 0em;
                    font-size: .95em;
                }
                &__price {
                    margin: 0;
                    margin-bottom: 1em;
                }
            }
            & button {
                opacity: 1;
            }
        }
    }
}

@media only screen and (min-width:768px) and (max-width:992px) {
    .productsInformation {
        font-size: .9rem;
    }
    .productsContainer {
        font-size: .9rem;
        &__item {
            width: 160px;
            margin: .5em .4em;

            &__info {
                margin: 0 .7em;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                & img {
                    width: 100%;
                    height: 170px;
                    margin-bottom: .7em;
                }
                .productsContainer__item__info-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    min-height: 100px;
                }
                &__name {
                    margin: 0;
                    padding: 0;
                    min-height: 0em;
                    font-size: .95em;
                }
                &__price {
                    margin: 0;
                    margin-bottom: 1em;
                }
            }
        }
    }
}