@import 'header';
@import 'productContainer';
@import 'cart';
@import 'form';
@import 'footer';

html {
    scroll-behavior: smooth;
}

body {
    background: rgba(0, 0, 0, 0.12);
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}

.mainInformation {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url('./../assets/images/mainBackground.jpg');
    background-position: top;
    background-size: cover;
    background-color: rgba(0, 0, 0, .1);
    background-blend-mode:saturation;
    transition: .8s ease all;
    font-family: 'Rubik', sans-serif;
    &:hover {
        background-color: rgba(0, 0, 0, .6);
        .mainInformation__content{
            opacity: 1;
        }
    }
    &__content {
        color: #fff;
        width: 80%;
        margin: 0 auto;
        height: 250px;
        opacity: 0;
        transition: .8s ease all;
        h1 {
            padding: 0;
            margin: 0;
            font-size: 2.5em;
            margin-bottom: .6em;
            letter-spacing: 2px;
        }
        h2{
            font-size: 1.6em;
            margin: 0;
            padding: 0;
            font-weight: 400;
        }
        p{
            font-size: 1.9em;
            text-align: center;
            font-weight: 300;
            font-style: italic;

        }
    }
    &-svg {
        fill: #7f00b2;
        height: 140px;
    }
}

.productAddToast {
    font-size: 1rem;
    position: fixed;
    bottom: 1.2em;
    right: 1.2em;
    opacity: 0;
    background: #7f00b2;
    border: 1px solid #fff;
    border-radius: 6px;
    transition: .5s ease all;
    color: #fff;
    z-index: 400;
    font-family: 'Rubik', sans-serif;
    p {
        display: flex;
        align-items: center;
        font-size: 1em;
        margin: 0;
        padding: .6em 1.2em;
        text-align: center;

        i {
            margin-right: 6px;
            font-size: 1.2em;
        }
    }
    &.show {
        opacity: 1;
    }
}

@media only screen and (max-width:575px) {
    .mainInformation {
        font-size: .8rem;
        height: calc(100vh - 80px);
        align-items: center;
        background-color: rgba(0, 0, 0, .6);
        &__content {
            opacity: 1;
        }
    
        &-svg {
            fill: #7f00b2;
            height: 100px;
        }
    }
    .productAddToast {
        font-size: .9rem;
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {
    .mainInformation {
        font-size: .8rem;
        height: calc(100vh - 80px);
        align-items: center;
        background-color: rgba(0, 0, 0, .6);
        &__content {
            opacity: 1;
        }
    
        &-svg {
            fill: #7f00b2;
            height: 100px;
        }
    }
    .productAddToast {
        font-size: .9rem;
    }
}

@media only screen and (min-width:768px) and (max-width:992px) {
    .mainInformation {
        font-size: .9rem;
        height: calc(100vh - 80px);
        align-items: center;
        background-color: rgba(0, 0, 0, .6);
        &__content {
            opacity: 1;
        }
    
        &-svg {
            fill: #7f00b2;
            height: 100px;
        }
    }
    .productAddToast {
        font-size: .9rem;
    }
}