@import 'normalize';
@import 'header';
@import 'cart';

html {
    scroll-behavior: smooth;
}

body {
    background: rgba(0, 0, 0, 0.12);
    position: relative;
    overflow-x: hidden;
}

.informationCarousel {
    font-size: 1rem;
    margin: 0 auto;
    padding: 0;
    height: 200px;
    display: none;
    &__container {
        &__elements {
            overflow: hidden;
            display: flex;

            & img {
                width: 100%;
                height: 200px;
                padding: 0;
            }
        }
    }

}


.mainInformation {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url('./../assets/images/mainBackground.jpg');
    background-position: top;
    background-size: cover;
    background-color: rgba(0, 0, 0, .1);
    background-blend-mode:saturation;
    transition: .8s ease all;
    font-family: 'Rubik', sans-serif;
    &:hover {
        background-color: rgba(0, 0, 0, .6);
        .mainInformation__content{
            opacity: 1;
        }
    }
    &__content {
        color: #fff;
        width: 80%;
        margin: 0 auto;
        height: 250px;
        opacity: 0;
        transition: .8s ease all;
        h1 {
            padding: 0;
            margin: 0;
            font-size: 2.1em;
            margin-bottom: .6em;
        }
        h2{
            font-size: 1.6em;
            margin: 0;
            padding: 0;
            font-weight: 400;
        }
        p{
            font-size: 1.9em;
            text-align: center;
            font-weight: 300;
            font-style: italic;

        }
    }

    &-svg {
        fill: #7f00b2;
        height: 140px;
    }
}

.productsInformation {
    font-size: 1rem;
    width: 90%;
    height: 94px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__title {
        font-size: 1.6em;
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        margin: 0;

    }

    &__results {
        font-size: 1.2em;
        font-family: 'Signika Negative', sans-serif;
        margin: 0;

    }

}

.productsContainer {
    width: 90%;
    font-size: 1rem;
    padding: 0;
    margin: .6em auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__item {
        background-color: #fff;
        display: flex;
        width: 180px;
        margin: .7em .45em;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        transition: .2s ease;

        &:hover {
            box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.25);

            & button {
                opacity: 1;
            }
        }

        &__info {
            margin: 0 .8em;
            position: relative;

            & img {
                width: 100%;
                height: 190px;
                margin-bottom: .7em;
                cursor: pointer;
                transition: .4s ease;

                &.back {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;

                }

                &:hover {
                    &.back {
                        opacity: 1;
                    }
                }
            }

            .productsContainer__item__info-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                min-height: 110px;
            }

            &__name {
                margin: 0;
                padding: 0;
                min-height: 3.5em;
                font-weight: 300;
                font-size: 1em;
                font-family: 'Rubik', sans-serif;

            }

            &__price {
                margin: 0;
                margin-bottom: .8em;
                font-family: 'Signika Negative', sans-serif;
                font-size: 1.2em;
            }
        }

        & button {
            position: absolute;
            bottom: .8em;
            right: .95em;
            opacity: 0;
            padding: 6px 15px;
            border-radius: 8px;
            background-color: #7f00b2;
            text-align: center;
            color: #fff;
            border: none;
            transition: .5s all ease;

            &:hover {
                background-color: #9c0ed4;
            }

            & i {
                font-size: 1.3em;
            }
        }

    }
}

// 
.productAddToast {
    font-size: 1rem;
    position: fixed;
    bottom: 1.2em;
    right: 1.2em;
    opacity: 0;
    background: #7f00b2;
    border: 1px solid #fff;
    border-radius: 6px;
    transition: .5s ease all;
    color: #fff;
    z-index: 400;
    font-family: 'Rubik', sans-serif;
    p {
        display: flex;
        align-items: center;
        font-size: 1em;
        margin: 0;
        padding: .6em 1.2em;
        text-align: center;

        i {
            margin-right: 6px;
            font-size: 1.2em;
        }
    }

    &.show {
        opacity: 1;
    }
}



.footer {
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    background-color: #7f00b2;
    margin-bottom: 0;
    &-svg {
        height: 3em;
        fill: #e0e0e0;
    }

    &__content {
        padding: 2em 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
        color: #fff;


        a {
            color: #fff;
            text-decoration: none;
        }

        h4 {
            margin: 0;
            font-size: 1.1em;
            padding: 0;
            margin-bottom: .4em;
            opacity: .6;
        }

        &__links {
            display: flex;
            flex-direction: column;
            font-weight: 400;
            a {
                width: 170px;
                font-size: .9em;
                padding: .3em 0;
                margin: .1em 0;
                opacity: .8;

                &:hover {
                    opacity: 1;
                }
            }
        }

        &__social {
            display: flex;
            flex-direction: column;

            div {
                display: flex;
                gap: 1em;
                margin: 0;

                a {
                    padding: 0;
                    margin: 0;
                    font-size: 2.2em;

                    :hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }


}

@media only screen and (max-width:575px) {
    // .productsCarousel{
    //     font-size: .9rem;
    //     min-height: 350px;
    //     &__container{
    //         &__elements{

    //             &__item{
    //                 & button {
    //                     opacity: 1;
    //                 }
    //             }
    //         }
    //     }
    // }
    .mainInformation {
        font-size: .8rem;
        height: calc(100vh - 80px);
        align-items: center;
        background-color: rgba(0, 0, 0, .6);
        &__content {
            opacity: 1;
        }
    
        &-svg {
            fill: #7f00b2;
            height: 100px;
        }
    }
    .informationCarousel {
        &__container {
            &__elements {
                & img {
                    height: 140px;
                }
            }
        }
    }

    .productsContainer {
        width: 90%;
        font-size: .9rem;
        padding: 0;
        margin: .5em auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__item {
            display: flex;
            width: 100%;
            margin: .4em 0;
            position: relative;
            flex-direction: row;
            justify-content: space-between;
            transition: .2s ease;

            &__info {
                margin: 0;
                padding: .5em 2em;
                position: relative;
                display: flex;
                justify-content: space-between;
                width: 100%;

                & img {
                    width: 120px;
                    height: 130px;
                    margin-bottom: 0;

                    &.back {
                        top: .5em;
                        left: 2em;
                    }
                }

                .productsContainer__item__info-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin: 1em 1em 1em 1em;
                }

                &__name {
                    text-align: right;
                }

                &__price {
                    margin: 0;
                    text-align: left;
                }
            }
        }

        & button {
            bottom: 25px;
            right: 40px;
            opacity: 1;
            padding: 7px 17px;
            border-radius: 8px;
            background-color: #7f00b2;
            text-align: center;
            color: #fff;
            border: none;
            transition: .5s all ease;

            &:hover {
                background-color: #9c0ed4;
            }

            & i {
                font-size: 1.3em;
            }
        }
    }

    .productsInformation {
        font-size: .7rem;
    }

    .productAddToast {
        font-size: .9rem;
    }

    .footer {
        font-size: .9rem;
    }

}

@media only screen and (min-width:576px) and (max-width:768px) {
    // .productsCarousel{
    //     font-size: .9rem;
    //     min-height: 350px;
    //     &__container{
    //         &__elements{

    //             &__item{
    //                 & button {
    //                     opacity: 1;
    //                 }
    //             }
    //         }
    //     }
    // }
    .mainInformation {
        font-size: .8rem;
        height: calc(100vh - 80px);
        align-items: center;
        background-color: rgba(0, 0, 0, .6);
        &__content {
            opacity: 1;
        }
    
        &-svg {
            fill: #7f00b2;
            height: 100px;
        }
    }
    .informationCarousel {
        &__container {
            &__elements {
                & img {
                    height: 170px;
                }
            }
        }
    }

    .productsContainer {
        font-size: .9rem;

        &__item {
            width: 150px;
            margin: .5em .4em;

            &__info {
                margin: 0 .7em;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                & img {
                    width: 100%;
                    height: 160px;
                    margin-bottom: .7em;
                }

                .productsContainer__item__info-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    min-height: 100px;
                }

                &__name {
                    margin: 0;
                    padding: 0;
                    min-height: 0em;
                    font-size: .95em;
                }

                &__price {
                    margin: 0;
                    margin-bottom: 1em;
                }
            }

            & button {
                opacity: 1;
            }
        }
    }

    .productsInformation {
        font-size: .8rem;
    }

    .productAddToast {
        font-size: .9rem;
    }


}

@media only screen and (min-width:768px) and (max-width:992px) {
    // .productsCarousel{
    //     font-size: .9rem;
    //     min-height: 350px;
    //     &__container{
    //         &__elements{

    //             &__item{
    //                 & button {
    //                     opacity: 1;
    //                 }
    //             }    
    //         }
    //     }
    // }
    .mainInformation {
        font-size: .9rem;
        height: calc(100vh - 80px);
        align-items: center;
        background-color: rgba(0, 0, 0, .6);
        &__content {
            opacity: 1;
        }
    
        &-svg {
            fill: #7f00b2;
            height: 100px;
        }
    }
    .informationCarousel {
        &__container {
            &__elements {
                & img {
                    height: 200px;
                }
            }
        }
    }

    .productsContainer {
        font-size: .9rem;

        &__item {
            width: 160px;
            margin: .5em .4em;

            &__info {
                margin: 0 .7em;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                & img {
                    width: 100%;
                    height: 170px;
                    margin-bottom: .7em;
                }

                .productsContainer__item__info-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    min-height: 100px;
                }

                &__name {
                    margin: 0;
                    padding: 0;
                    min-height: 0em;
                    font-size: .95em;
                }

                &__price {
                    margin: 0;
                    margin-bottom: 1em;
                }
            }
        }
    }

    .productsInformation {
        font-size: .9rem;
    }

    .productAddToast {
        font-size: .9rem;
    }
}

// .productsCarousel{
//     width: 90%;
//     font-size: 1rem;
//     margin: .6em auto;
//     position: relative;
//     min-height: 370px;

//     &__container{
//         &__elements{
//             overflow: hidden;

//             &__item{
//                 margin:.5em;
//                 background-color: #fff;
//                 display: flex;
//                 position: relative;
//                 flex-direction: column;
//                 justify-content: space-between;
//                 transition: .2s ease;

//                 &:hover{
//                     box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.25);
//                     & button{
//                         opacity: 1;
//                     }
//                 }
//                 & img{
//                     width: 180px;
//                     height: 190px;
//                     margin: 0 auto;
//                     margin-bottom: .7em;
//                     cursor: pointer;
//                     transition: .4s ease;
//                     &.back{
//                         position: absolute;
//                         top: 0;
//                         left: 0;
//                         opacity: 0;

//                     }
//                     &:hover{
//                         &.back{
//                             opacity: 1;
//                         }
//                     }
//                 }

//                 &__info{
//                     margin: 0 1em;
//                     &__name{
//                         margin: 0;
//                         padding: 0;
//                         min-height: 4em;
//                         font-weight: 400;
//                         font-size: 1em;
//                         font-family: 'Gothic A1', sans-serif;

//                     }
//                     &__price{
//                         margin: .8em 0;
//                         font-family: 'Signika Negative', sans-serif;

//                         font-size: 1.2em;
//                     }
//                 }
//                 & button {
//                     position:absolute;
//                     bottom: 10px;
//                     right: 15px;
//                     opacity: 0;
//                     padding: 6px 15px;
//                     border-radius: 8px;
//                     background-color: #7f00b2;
//                     text-align: center;
//                     color: #fff;
//                     border: none;
//                     transition: .5s all ease;
//                     &:hover{
//                         background-color: #9c0ed4;
//                     }
//                     & i{
//                         font-size: 1.3em;
//                     }
//                 }

//             }
//         }
//     }
//     &__indicadores .glider-dots{
//         display: none;
//     }
// }

// .carousel__before, .carousel__next{
//     position: absolute;
// 	display: block;
// 	width: 30px;
// 	height: 30px;
// 	border: none;
// 	top: calc(50% - 35px);
// 	cursor: pointer;
// 	text-align: center;
//     background: none;
// 	color: #7f00b2;
//     opacity: .7;
//     z-index: 40;
//     i{
//         font-size: 2.4em;
//     }
//     &:hover{
//         opacity: 1;
//     }
// }
// .carousel__before{
//     left: 10px;
// }
// .carousel__next{
//     right:5px;
// }