@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: none;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgba(0, 0, 0, 0.12);
}

header {
  width: 100%;
  background-color: #7f00b2;
  font-size: 1rem;
  position: sticky;
  top: 0;
}
header .navBar {
  height: 75px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navBar__logo {
  color: #fff;
  font-size: 1.5em;
  padding: 0;
  font-weight: bold;
  text-decoration: none;
}
header .navBar__menu {
  display: flex;
  list-style: none;
  align-items: center;
  color: #fff;
}
header .navBar__menu li {
  margin: 0 0.4em;
  border-radius: 8px;
  transition: 0.8s;
}
header .navBar__menu li:hover, header .navBar__menu li:active {
  background-color: rgba(0, 0, 0, 0.3);
}
header .navBar__menu li a {
  text-decoration: none;
  color: #fff;
  padding: 0.4em 0.4em;
  display: block;
}
header .navBar__menu form input {
  padding: 8px;
  background: transparent;
  color: white;
  font-size: 1.1em;
  border: 1px solid #d8d8d8;
}
header .navBar__menu form input:focus {
  outline: none;
}
header .navBar__menu.show {
  top: 75px;
}
header .btn__nav {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  display: none;
}

.products {
  width: 100%;
  font-size: 1rem;
  margin: 2em auto;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  gap: 1.5em;
  justify-content: center;
}
.products__item {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.4s all ease;
}
.products__item:hover {
  box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.25);
}
.products__item img {
  width: 200px;
  height: 220px;
  margin-bottom: 0.7em;
}
.products__item__info {
  margin: 0 1em;
}
.products__item__info__name {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1.1em;
}
.products__item__info__price {
  margin: 0.4em 0;
  font-size: 1.3em;
}
.products__item button {
  width: 100%;
  font-size: 1.1em;
  padding: 0.4em 0;
  background-color: #7f00b2;
  color: #fff;
  border: none;
}
.products__item button:hover {
  background-color: #9c0ed4;
}
.products__item button i {
  font-size: 1.3em;
  vertical-align: baseline;
}

.cart {
  font-size: 1rem;
  width: 90%;
  min-height: 500px;
  margin: 1em auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  padding: 1em;
}
.cart__item {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0.8em auto;
  font-size: 1.1em;
  border-bottom: 1px solid #7f00b2;
}
.cart__item__name {
  width: 40%;
}
.cart__item__amount {
  width: 20%;
}
.cart__item__price {
  font-weight: 700;
  width: 20%;
}
.cart__total {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2em;
}

@media only screen and (max-width: 575px) {
  header {
    font-size: 0.9em;
  }
  header .navBar {
    width: 100%;
  }
  header .navBar__logo {
    margin-left: 2em;
    padding: 0;
  }
  header .navBar__menu {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #7f00b2;
    top: -100vh;
    text-align: center;
    transition: all ease 0.8s;
    flex-direction: column;
  }
  header .navBar__menu li {
    width: 100%;
    margin: 0.6em 0;
  }
  header .navBar__menu li a {
    padding: 0.8em 1em;
    font-size: 1.1em;
    font-weight: bold;
  }
  header .navBar__menu form input {
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-size: 1.1em;
  }
  header .btn__nav {
    display: block;
    margin-right: 2em;
  }
  header .btn__nav i {
    padding: 6px 10px;
  }
  header .btn__nav i:hover {
    border: 1px solid #fff;
  }
  header .btn__nav.active i {
    font-weight: bold;
    border: 1px solid #fff;
  }

  .products {
    grid-template-columns: repeat(1, 200px);
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  header {
    font-size: 0.9em;
  }
  header .navBar {
    width: 100%;
  }
  header .navBar__logo {
    margin-left: 2em;
    padding: 0;
  }
  header .navBar__menu {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #7f00b2;
    top: -100vh;
    text-align: center;
    transition: all ease 0.8s;
    flex-direction: column;
  }
  header .navBar__menu li {
    width: 100%;
    margin: 0.6em 0;
  }
  header .navBar__menu li a {
    padding: 0.8em 1em;
    font-size: 1.1em;
    font-weight: bold;
  }
  header .navBar__menu form input {
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-size: 1.1em;
  }
  header .btn__nav {
    display: block;
    margin-right: 2em;
  }
  header .btn__nav i {
    padding: 6px 10px;
  }
  header .btn__nav i:hover {
    border: 1px solid #fff;
  }
  header .btn__nav.active i {
    font-weight: bold;
    border: 1px solid #fff;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  header {
    font-size: 0.9em;
  }
  header .navBar {
    width: 100%;
  }
  header .navBar__logo {
    margin-left: 2em;
    padding: 0;
  }
  header .navBar__menu {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #7f00b2;
    top: -100vh;
    text-align: center;
    transition: all ease 0.8s;
    flex-direction: column;
  }
  header .navBar__menu li {
    width: 100%;
    margin: 0.6em 0;
  }
  header .navBar__menu li a {
    padding: 0.8em 1em;
    font-size: 1.1em;
    font-weight: bold;
  }
  header .navBar__menu form input {
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-size: 1.1em;
  }
  header .btn__nav {
    display: block;
    margin-right: 2em;
  }
  header .btn__nav i {
    padding: 6px 10px;
  }
  header .btn__nav i:hover {
    border: 1px solid #fff;
  }
  header .btn__nav.active i {
    font-weight: bold;
    border: 1px solid #fff;
  }
}

/*# sourceMappingURL=styles.css.map */
