@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: none;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgba(0, 0, 0, 0.12);
}

.container {
  position: relative;
  overflow: hidden;
}

header {
  width: 100%;
  background-color: #7f00b2;
  font-size: 1rem;
  position: sticky;
  z-index: 100;
  top: 0;
}
header .navBar {
  height: 65px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navBar div {
  display: flex;
  align-items: center;
}
header .navBar__logo {
  color: #fff;
  font-size: 1.5em;
  padding: 0;
  font-weight: bold;
  text-decoration: none;
}
header .navBar__menu {
  display: flex;
  list-style: none;
  align-items: center;
  color: #fff;
}
header .navBar__menu li {
  margin: 0 0.4em;
  border-radius: 8px;
}
header .navBar__menu li a {
  text-decoration: none;
  color: #fff;
  padding: 0.4em 0.4em;
  display: block;
}
header .navBar__menu form input {
  padding: 8px;
  background: transparent;
  color: white;
  font-size: 1.1em;
  border: 1px solid #d8d8d8;
}
header .navBar__menu form input:focus {
  outline: none;
}
header .navBar__menu__btnCart {
  font-size: 1em;
  color: #fff;
  padding: 0.4em 0.4em;
  margin: 0 0.4em;
  cursor: pointer;
}
header .navBar__menu.show {
  top: 55px;
}
header .navBar__btnCartResponsive {
  font-size: 1em;
  color: #fff;
  padding: 0.4em 0.4em;
  margin: 0 0.4em;
  cursor: pointer;
  display: none;
}
header .btn__nav {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  display: none;
}

.products {
  width: 100%;
  font-size: 1rem;
  padding: 2em 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  gap: 1.5em;
  justify-content: center;
}
.products__item {
  background-color: #fff;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: 0.4s all ease;
}
.products__item:hover {
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.25);
}
.products__item:hover button {
  opacity: 1;
}
.products__item img {
  width: 200px;
  height: 220px;
  margin-bottom: 0.7em;
  cursor: pointer;
}
.products__item__info {
  margin: 0 1em;
}
.products__item__info__name {
  margin: 0;
  padding: 0;
  min-height: 3em;
  font-weight: 400;
  font-size: 1.1em;
}
.products__item__info__price {
  margin: 0.8em 0;
  font-size: 1.3em;
}
.products__item button {
  position: absolute;
  bottom: 10px;
  right: 15px;
  opacity: 0;
  padding: 8px 20px;
  border-radius: 8px;
  background-color: #7f00b2;
  text-align: center;
  color: #fff;
  border: none;
  transition: 0.6s all ease;
}
.products__item button:hover {
  background-color: #9c0ed4;
}
.products__item button i {
  font-size: 1.5em;
}

.cart {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: -100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  transition: 0.4s linear all;
}
.cart.show {
  right: 0px;
}
.cart.show .cart__sideContainer {
  right: 0;
}
.cart__sideContainer {
  font-size: 1rem;
  position: fixed;
  right: -100%;
  height: 100%;
  width: 25%;
  padding: 1.5em 1em;
  background: #e7e7e7;
  transition: 0.4s linear all;
}
.cart__sideContainer__title {
  margin-bottom: 1em;
}
.cart__sideContainer__title__exit {
  display: inline-block;
  padding: 8px;
  vertical-align: middle;
  cursor: pointer;
}
.cart__sideContainer__title__exit i {
  font-size: 1.8em;
}
.cart__sideContainer__title h2 {
  font-size: 1.5em;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
}
.cart__sideContainer__items {
  width: 100%;
  max-height: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
}
.cart__sideContainer__items__item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.8em auto;
  font-size: 1em;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #7f00b2;
}
.cart__sideContainer__items__item__name {
  width: 50%;
}
.cart__sideContainer__items__item__amount {
  width: 10%;
}
.cart__sideContainer__items__item__price {
  font-weight: 700;
  width: 30%;
}
.cart__sideContainer__resume__total {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}

@media only screen and (max-width: 575px) {
  header {
    font-size: 0.8rem;
  }
  header .navBar {
    width: 100%;
    height: 55px;
  }
  header .navBar__logo {
    padding: 0;
    margin: 0;
    margin-left: 0.5em;
  }
  header .navBar__menu {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #7f00b2;
    top: -100vh;
    text-align: center;
    transition: all ease 0.8s;
    flex-direction: column;
  }
  header .navBar__menu li {
    width: 100%;
    margin: 0.6em 0;
  }
  header .navBar__menu li a {
    padding: 0.8em 1em;
    font-size: 1.1em;
    font-weight: bold;
  }
  header .navBar__menu form input {
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-size: 1.1em;
  }
  header .navBar__menu .navBar__menu__btnCartMenu {
    display: none;
  }
  header .navBar__btnCartResponsive {
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 2em;
    display: block;
  }
  header .btn__nav {
    display: block;
    margin-left: 1em;
  }
  header .btn__nav i {
    padding: 4px 8px;
  }
  header .btn__nav i:hover {
    outline: 1px solid #fff;
  }
  header .btn__nav.active i {
    font-weight: bold;
    outline: 1px solid #fff;
  }

  .products {
    grid-template-columns: repeat(1, 200px);
  }
  .products__item button {
    bottom: 10px;
    right: 20px;
  }

  .cart {
    right: -300vw;
    z-index: 50;
    width: 0px;
    font-size: 1rem;
  }
  .cart.show {
    right: 0px;
  }
  .cart.show .cart__sideContainer {
    right: 0px;
  }
  .cart__sideContainer {
    right: -300vw;
    width: 100vw;
    padding: 0;
    transition: 0.6s linear all;
  }
  .cart__sideContainer__title {
    margin: 0.5em 2em;
  }
  .cart__sideContainer__items {
    margin: 0 2em;
    width: auto;
  }
  .cart__sideContainer__resume {
    margin: 0 2em;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  header {
    font-size: 0.8rem;
  }
  header .navBar {
    width: 100%;
    height: 55px;
  }
  header .navBar__logo {
    padding: 0;
    margin: 0;
    margin-left: 0.5em;
  }
  header .navBar__menu {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #7f00b2;
    top: -100vh;
    text-align: center;
    transition: all ease 0.8s;
    flex-direction: column;
  }
  header .navBar__menu li {
    width: 100%;
    margin: 0.6em 0;
  }
  header .navBar__menu li a {
    padding: 0.8em 1em;
    font-size: 1.1em;
    font-weight: bold;
  }
  header .navBar__menu form input {
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-size: 1.1em;
  }
  header .navBar__btnCartResponsive {
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 2em;
    display: block;
  }
  header .btn__nav {
    display: block;
    margin-left: 1em;
  }
  header .btn__nav i {
    padding: 4px 8px;
  }
  header .btn__nav i:hover {
    outline: 1px solid #fff;
  }
  header .btn__nav.active i {
    font-weight: bold;
    outline: 1px solid #fff;
  }

  .cart {
    right: -300vw;
    z-index: 50;
    width: 0px;
    font-size: 1rem;
  }
  .cart.show {
    right: 0px;
  }
  .cart.show .cart__sideContainer {
    right: 0px;
  }
  .cart__sideContainer {
    right: -300vw;
    width: 100vw;
    padding: 0;
    transition: 0.6s linear all;
  }
  .cart__sideContainer__title {
    margin: 0.5em 2em;
  }
  .cart__sideContainer__items {
    margin: 0 2em;
    width: auto;
  }
  .cart__sideContainer__resume {
    margin: 0 2em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  header {
    font-size: 0.8rem;
  }
  header .navBar {
    width: 100%;
    height: 55px;
  }
  header .navBar__logo {
    padding: 0;
    margin: 0;
    margin-left: 0.5em;
  }
  header .navBar__menu {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #7f00b2;
    top: -100vh;
    text-align: center;
    transition: all ease 0.8s;
    flex-direction: column;
  }
  header .navBar__menu li {
    width: 100%;
    margin: 0.6em 0;
  }
  header .navBar__menu li a {
    padding: 0.8em 1em;
    font-size: 1.1em;
    font-weight: bold;
  }
  header .navBar__menu form input {
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-size: 1.1em;
  }
  header .navBar__btnCartResponsive {
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 2em;
    display: block;
  }
  header .btn__nav {
    display: block;
    margin-left: 1em;
  }
  header .btn__nav i {
    padding: 4px 8px;
  }
  header .btn__nav i:hover {
    outline: 1px solid #fff;
  }
  header .btn__nav.active i {
    font-weight: bold;
    outline: 1px solid #fff;
  }

  .cart {
    right: -300vw;
    z-index: 50;
    width: 0px;
    font-size: 1rem;
  }
  .cart.show {
    right: 0px;
  }
  .cart.show .cart__sideContainer {
    right: 0px;
  }
  .cart__sideContainer {
    right: -300vw;
    width: 100vw;
    padding: 0;
    transition: 0.6s linear all;
  }
  .cart__sideContainer__title {
    margin: 0.5em 2em;
  }
  .cart__sideContainer__items {
    margin: 0 2em;
    width: auto;
  }
  .cart__sideContainer__resume {
    margin: 0 2em;
  }
}

/*# sourceMappingURL=styles.css.map */
