@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: none;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

header {
  width: 100%;
  background-color: #7f00b2;
  font-size: 1rem;
  position: sticky;
  z-index: 100;
  top: 0;
  font-family: "Gothic A1", sans-serif;
  font-weight: 600;
}
header .navBar {
  height: 50px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navBar div {
  display: flex;
  align-items: center;
}
header .navBar__logo {
  color: #fff;
  font-size: 1.3em;
  padding: 0;
  font-weight: bold;
  text-decoration: none;
}
header .navBar__menu {
  display: flex;
  list-style: none;
  align-items: center;
  color: #fff;
}
header .navBar__menu li {
  margin: 0 0.4em;
  position: relative;
}
header .navBar__menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  padding: 1em;
  display: block;
}
header .navBar__menu li a:hover, header .navBar__menu li a:focus {
  background-color: #a400e6;
}
header .navBar__menu li ul {
  left: 0;
  top: 50px;
  padding: 0.2em 0;
  text-align: left;
  display: none;
  min-width: 240px;
  position: absolute;
  background-color: #7f00b2;
  z-index: 50;
}
header .navBar__menu li ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
header .navBar__menu li ul li a {
  font-size: 0.9em;
  margin: 0.2em 0;
  padding: 0.7em 1em;
}
header .navBar__menu li ul li a:hover, header .navBar__menu li ul li a:focus {
  background-color: #a400e6;
}
header .navBar__menu li:hover ul {
  display: block;
}
header .navBar__menu form {
  position: relative;
}
header .navBar__menu form input {
  padding: 6px;
  width: 300px;
  background: transparent;
  color: #fff;
  font-size: 1.1em;
  border: 1px solid #d8d8d8;
}
header .navBar__menu form input:focus {
  outline: none;
}
header .navBar__menu form span {
  position: absolute;
  left: 0px;
  top: 40px;
  height: 2.5em;
  width: 100%;
  border-radius: 8px;
  background-color: rgba(255, 0, 119, 0.95);
  opacity: 0;
  transition: 0.2s all ease-in;
}
header .navBar__menu form span p {
  margin: 0;
  padding: 0.6em 0;
  text-align: center;
  font-size: 1em;
}
header .navBar__menu form span.show {
  opacity: 1;
}
header .navBar__menu__btnCartMenu {
  color: #fff;
  padding: 0.8em 1.1em;
  margin: 0;
  cursor: pointer;
  text-align: center;
  position: relative;
}
header .navBar__menu__btnCartMenu i {
  font-size: 1.4em;
  vertical-align: bottom;
  padding: 0;
}
header .navBar__menu__btnCartMenu:hover {
  background-color: #a400e6;
}
header .navBar__menu__btnCartMenu-counter {
  position: absolute;
  top: 6px;
  right: 0px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 0.9em;
  width: 16px;
  text-align: center;
  padding: 1px;
}
header .navBar__menu.show {
  top: 50px;
}
header .navBar__btnCartResponsive {
  color: #fff;
  padding: 0.9em 1.2em;
  margin: 0;
  margin-right: 3em;
  cursor: pointer;
  text-align: center;
  position: relative;
  display: none;
}
header .navBar__btnCartResponsive i {
  font-size: 1.5em;
  vertical-align: bottom;
  padding: 0;
}
header .navBar__btnCartResponsive:hover {
  background-color: #a400e6;
}
header .navBar__btnCartResponsive-counter {
  position: absolute;
  top: 6px;
  right: -1px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 0.9em;
  width: 16px;
  text-align: center;
  padding: 1px;
}
header .btn__nav {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 575px) {
  header {
    font-size: 0.8rem;
  }
  header .navBar {
    width: 100%;
    height: 50px;
  }
  header .navBar__logo {
    padding: 0.6em 0;
    margin: 0;
    margin-left: 0.5em;
  }
  header .navBar__menu {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    height: calc(100vh - 50px);
    background: #7f00b2;
    top: -100vh;
    text-align: center;
    transition: 0.6s all ease;
    flex-direction: column;
  }
  header .navBar__menu li {
    width: 100%;
    margin: 0.6em 0;
    transition: 0.3s all ease;
  }
  header .navBar__menu li a {
    padding: 1em 1em;
    font-size: 1em;
    font-weight: bold;
  }
  header .navBar__menu li ul {
    top: 40px;
    text-align: center;
    display: none;
    min-width: 100%;
    position: absolute;
  }
  header .navBar__menu li ul li a {
    font-size: 0.9em;
    margin: 0.3em 0;
    padding: 1em;
  }
  header .navBar__menu form input {
    font-size: 1.1em;
  }
  header .navBar__menu .navBar__menu__btnCartMenu {
    display: none;
  }
  header .navBar__btnCartResponsive {
    display: block;
  }
  header .btn__nav {
    display: block;
    margin-left: 1em;
  }
  header .btn__nav i {
    padding: 4px 8px;
    font-size: 1em;
  }
  header .btn__nav i:hover {
    outline: 1px solid #fff;
  }
  header .btn__nav.active i {
    font-weight: bold;
    outline: 1px solid #fff;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  header {
    font-size: 0.9rem;
  }
  header .navBar {
    width: 100%;
    height: 50px;
  }
  header .navBar__logo {
    padding: 0;
    margin: 0;
    margin-left: 0.5em;
  }
  header .navBar__menu {
    position: fixed;
    width: 100%;
    height: calc(100vh - 50px);
    margin: 0;
    padding: 0;
    background: #7f00b2;
    top: -100vh;
    text-align: center;
    transition: all ease 0.8s;
    flex-direction: column;
  }
  header .navBar__menu li {
    width: 100%;
    margin: 0.6em 0;
  }
  header .navBar__menu li a {
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
  }
  header .navBar__menu li ul {
    top: 40px;
    text-align: center;
    min-width: 100%;
    display: none;
    position: absolute;
  }
  header .navBar__menu li ul li a {
    font-size: 0.9em;
    margin: 0.3em 0;
    padding: 1em;
  }
  header .navBar__menu form input {
    font-size: 1.1em;
  }
  header .navBar__menu .navBar__menu__btnCartMenu {
    display: none;
  }
  header .navBar__btnCartResponsive {
    display: block;
  }
  header .btn__nav {
    display: block;
    margin-left: 1em;
  }
  header .btn__nav i {
    padding: 4px 8px;
  }
  header .btn__nav i:hover {
    outline: 1px solid #fff;
  }
  header .btn__nav.active i {
    font-weight: bold;
    outline: 1px solid #fff;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  header {
    font-size: 0.9rem;
  }
  header .navBar {
    width: 100%;
    height: 50px;
  }
  header .navBar__logo {
    padding: 0;
    margin: 0;
    margin-left: 0.5em;
  }
  header .navBar__menu {
    position: fixed;
    width: 100%;
    height: calc(100vh - 50px);
    margin: 0;
    padding: 0;
    background: #7f00b2;
    top: -100vh;
    text-align: center;
    transition: all ease 0.8s;
    flex-direction: column;
  }
  header .navBar__menu li {
    width: 100%;
    margin: 0.6em 0;
  }
  header .navBar__menu li a {
    padding: 0.8em 1em;
    font-size: 1.1em;
    font-weight: bold;
  }
  header .navBar__menu li ul {
    top: 40px;
    text-align: center;
    min-width: 100%;
    display: none;
    position: absolute;
  }
  header .navBar__menu li ul li a {
    font-size: 0.9em;
    margin: 0.3em 0;
    padding: 1em;
  }
  header .navBar__menu form input {
    font-size: 1.1em;
  }
  header .navBar__menu .navBar__menu__btnCartMenu {
    display: none;
  }
  header .navBar__btnCartResponsive {
    display: block;
  }
  header .btn__nav {
    display: block;
    margin-left: 1em;
  }
  header .btn__nav i {
    padding: 4px 8px;
  }
  header .btn__nav i:hover {
    outline: 1px solid #fff;
  }
  header .btn__nav.active i {
    font-weight: bold;
    outline: 1px solid #fff;
  }
}
.cart {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: -100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  font-family: "Signika Negative", sans-serif;
  transition: 0.4s linear all;
}
.cart.show {
  right: 0px;
}
.cart.show .cart__sideContainer {
  right: 0;
}
.cart__sideContainer {
  font-size: 1rem;
  position: fixed;
  right: -100%;
  height: 100%;
  width: 25%;
  padding: 1.5em 1em;
  background: #e7e7e7;
  transition: 0.4s linear all;
}
.cart__sideContainer__title {
  margin-bottom: 0.4em;
  font-family: "Gothic A1", sans-serif;
}
.cart__sideContainer__title__exit {
  display: inline-block;
  padding: 8px;
  vertical-align: middle;
  cursor: pointer;
}
.cart__sideContainer__title__exit i {
  color: #7f00b2;
  font-size: 2em;
}
.cart__sideContainer__title h2 {
  font-size: 1.5em;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
}
.cart__sideContainer__items {
  width: 100%;
  max-height: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
}
.cart__sideContainer__items__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.6em 0;
  border-bottom: 1px solid #7f00b2;
}
.cart__sideContainer__items__item__main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}
.cart__sideContainer__items__item__main p {
  width: 200px;
  font-size: 1em;
}
.cart__sideContainer__items__item__main__btnDelete {
  border: none;
  background: none;
  height: 30px;
  width: 30px;
  color: red;
  font-size: 1.3em;
  opacity: 0.6;
  transition: 0.5s ease all;
  cursor: pointer;
}
.cart__sideContainer__items__item__main__btnDelete:hover {
  opacity: 1;
}
.cart__sideContainer__items__item__description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
.cart__sideContainer__items__item__description img {
  width: 70px;
  height: 90px;
}
.cart__sideContainer__items__item__description__units {
  display: flex;
  align-items: center;
}
.cart__sideContainer__items__item__description__units p {
  font-size: 1.1em;
}
.cart__sideContainer__items__item__description__units__btn {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  height: 70px;
  justify-content: space-between;
}
.cart__sideContainer__items__item__description__units__btn button {
  border: none;
  height: 30px;
  width: 40px;
  color: #fff;
  transition: 0.5s ease all;
}
.cart__sideContainer__items__item__description__units__btn__add {
  background: #000;
  opacity: 0.3;
}
.cart__sideContainer__items__item__description__units__btn__add:hover {
  opacity: 0.6;
}
.cart__sideContainer__items__item__description__units__btn__rest {
  background: #000;
  opacity: 0.3;
}
.cart__sideContainer__items__item__description__units__btn__rest:hover {
  opacity: 0.6;
}
.cart__sideContainer__items__item__description__price {
  font-size: 1.1em;
}
.cart__sideContainer__resume__total {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}

@media only screen and (max-width: 575px) {
  .cart {
    right: -300vw;
    z-index: 50;
    width: 0px;
    font-size: 1rem;
  }
  .cart.show {
    right: 0px;
  }
  .cart.show .cart__sideContainer {
    right: 0px;
  }
  .cart__sideContainer {
    right: -300vw;
    width: 100vw;
    padding: 0;
    transition: 0.6s linear all;
  }
  .cart__sideContainer__title {
    margin: 0.5em 2em;
  }
  .cart__sideContainer__items {
    margin: 0 2em;
    width: auto;
  }
  .cart__sideContainer__resume {
    margin: 0 2em;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .cart {
    right: -300vw;
    z-index: 50;
    width: 0px;
    font-size: 1rem;
  }
  .cart.show {
    right: 0px;
  }
  .cart.show .cart__sideContainer {
    right: 0px;
  }
  .cart__sideContainer {
    right: -300vw;
    width: 100vw;
    padding: 0;
    transition: 0.6s linear all;
  }
  .cart__sideContainer__title {
    margin: 0.5em 2em;
  }
  .cart__sideContainer__items {
    margin: 0 2em;
    width: auto;
  }
  .cart__sideContainer__resume {
    margin: 0 2em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .cart {
    right: -300vw;
    z-index: 50;
    width: 0px;
    font-size: 1rem;
  }
  .cart.show {
    right: 0px;
  }
  .cart.show .cart__sideContainer {
    right: 0px;
  }
  .cart__sideContainer {
    right: -300vw;
    width: 100vw;
    padding: 0;
    transition: 0.6s linear all;
  }
  .cart__sideContainer__title {
    margin: 0.5em 2em;
  }
  .cart__sideContainer__items {
    margin: 0 2em;
    width: auto;
  }
  .cart__sideContainer__resume {
    margin: 0 2em;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background: rgba(0, 0, 0, 0.12);
}

.container {
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - 55px);
}

.informationCarousel {
  font-size: 1rem;
  margin: 0 auto;
}
.informationCarousel__container__elements {
  overflow: hidden;
  display: flex;
}
.informationCarousel__container__elements img {
  width: 100%;
  height: 220px;
}

.productsCarouselTitle {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
.productsCarouselTitle h2 {
  padding: 0;
  margin: 0;
}
.productsCarouselTitle button {
  border: 0;
  background: #7f00b2;
}

.productsContainer {
  width: 90%;
  font-size: 1rem;
  padding: 0;
  margin: 0.5em auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.productsContainer__item {
  background-color: #fff;
  display: flex;
  width: 180px;
  margin: 0.7em 0.45em;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.2s ease;
}
.productsContainer__item:hover {
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.25);
}
.productsContainer__item:hover button {
  opacity: 1;
}
.productsContainer__item__info {
  margin: 0 0.8em;
  position: relative;
}
.productsContainer__item__info img {
  width: 100%;
  height: 190px;
  margin-bottom: 0.7em;
  cursor: pointer;
  transition: 0.4s ease;
}
.productsContainer__item__info img.back {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.productsContainer__item__info img:hover.back {
  opacity: 1;
}
.productsContainer__item__info .productsContainer__item__info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 110px;
}
.productsContainer__item__info__name {
  margin: 0;
  padding: 0;
  min-height: 3.5em;
  font-weight: 400;
  font-size: 1em;
  font-family: "Gothic A1", sans-serif;
}
.productsContainer__item__info__price {
  margin: 0;
  margin-bottom: 0.8em;
  font-family: "Signika Negative", sans-serif;
  font-size: 1.2em;
}
.productsContainer__item button {
  position: absolute;
  bottom: 0.8em;
  right: 0.95em;
  opacity: 0;
  padding: 6px 15px;
  border-radius: 8px;
  background-color: #7f00b2;
  text-align: center;
  color: #fff;
  border: none;
  transition: 0.5s all ease;
}
.productsContainer__item button:hover {
  background-color: #9c0ed4;
}
.productsContainer__item button i {
  font-size: 1.3em;
}

.productAddToast {
  font-size: 1rem;
  position: fixed;
  bottom: 1.2em;
  right: 1.2em;
  opacity: 0;
  background: #7f00b2;
  border: 1px solid #fff;
  border-radius: 6px;
  transition: 0.5s ease all;
  color: #fff;
  z-index: 400;
}
.productAddToast p {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  margin: 0;
  padding: 0.6em 1.2em;
  text-align: center;
}
.productAddToast p i {
  margin-right: 6px;
  font-size: 1.2em;
}
.productAddToast.show {
  opacity: 1;
}

.footer {
  height: 150px;
  background-color: #7f00b2;
}

@media only screen and (max-width: 575px) {
  .informationCarousel__container__elements img {
    height: 140px;
  }

  .productsContainer {
    width: 90%;
    font-size: 0.9rem;
    padding: 0;
    margin: 0.5em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .productsContainer__item {
    display: flex;
    width: 100%;
    margin: 0.4em 0;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.2s ease;
  }
  .productsContainer__item__info {
    margin: 0;
    padding: 0.5em 2em;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .productsContainer__item__info img {
    width: 120px;
    height: 130px;
    margin-bottom: 0;
  }
  .productsContainer__item__info img.back {
    top: 0.5em;
    left: 2em;
  }
  .productsContainer__item__info .productsContainer__item__info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1em 1em 1em 1em;
  }
  .productsContainer__item__info__name {
    text-align: right;
  }
  .productsContainer__item__info__price {
    margin: 0;
    text-align: left;
  }
  .productsContainer button {
    bottom: 25px;
    right: 40px;
    opacity: 1;
    padding: 7px 17px;
    border-radius: 8px;
    background-color: #7f00b2;
    text-align: center;
    color: #fff;
    border: none;
    transition: 0.5s all ease;
  }
  .productsContainer button:hover {
    background-color: #9c0ed4;
  }
  .productsContainer button i {
    font-size: 1.3em;
  }

  .productAddToast {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .informationCarousel__container__elements img {
    height: 170px;
  }

  .productsContainer {
    font-size: 0.9rem;
  }
  .productsContainer__item {
    width: 150px;
    margin: 0.5em 0.4em;
  }
  .productsContainer__item__info {
    margin: 0 0.7em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .productsContainer__item__info img {
    width: 100%;
    height: 160px;
    margin-bottom: 0.7em;
  }
  .productsContainer__item__info .productsContainer__item__info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
  }
  .productsContainer__item__info__name {
    margin: 0;
    padding: 0;
    min-height: 0em;
    font-size: 0.95em;
  }
  .productsContainer__item__info__price {
    margin: 0;
    margin-bottom: 1em;
  }
  .productsContainer__item button {
    opacity: 1;
  }

  .productAddToast {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .informationCarousel__container__elements img {
    height: 200px;
  }

  .productsContainer {
    font-size: 0.9rem;
  }
  .productsContainer__item {
    width: 160px;
    margin: 0.5em 0.4em;
  }
  .productsContainer__item__info {
    margin: 0 0.7em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .productsContainer__item__info img {
    width: 100%;
    height: 170px;
    margin-bottom: 0.7em;
  }
  .productsContainer__item__info .productsContainer__item__info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
  }
  .productsContainer__item__info__name {
    margin: 0;
    padding: 0;
    min-height: 0em;
    font-size: 0.95em;
  }
  .productsContainer__item__info__price {
    margin: 0;
    margin-bottom: 1em;
  }

  .productAddToast {
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=styles.css.map */
