.header {
  width: 100%;
  background-color: #7f00b2;
  font-size: 1rem;
  position: sticky;
  z-index: 100;
  top: 0;
  font-family: "Rubik", sans-serif;
}
.header .navBar {
  height: 50px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .navBar div {
  display: flex;
  align-items: center;
}
.header .navBar__logo {
  color: #fff;
  font-size: 1.3em;
  padding: 0;
  font-weight: bold;
  text-decoration: none;
}
.header .navBar__menu {
  display: flex;
  list-style: none;
  align-items: center;
  color: #fff;
  font-weight: 500;
}
.header .navBar__menu li {
  margin: 0 0.4em;
  position: relative;
}
.header .navBar__menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  padding: 1em;
  display: block;
}
.header .navBar__menu li a:hover, .header .navBar__menu li a:focus {
  background-color: #a400e6;
}
.header .navBar__menu li ul {
  left: 0;
  top: 50px;
  padding: 0.3em 0;
  text-align: left;
  display: none;
  min-width: 200px;
  position: absolute;
  background-color: #7f00b2;
  z-index: 50;
}
.header .navBar__menu li ul li {
  list-style: none;
  padding: 0;
  border-radius: 0;
  margin: 0;
}
.header .navBar__menu li ul li a {
  font-size: 0.9em;
  font-weight: 400;
  margin: 0;
  padding: 0.7em 1em;
}
.header .navBar__menu li ul li a:hover, .header .navBar__menu li ul li a:focus {
  background-color: #a400e6;
}
.header .navBar__menu li:hover ul {
  display: block;
}
.header .navBar__menu form {
  position: relative;
}
.header .navBar__menu form input {
  padding: 6px;
  width: 300px;
  background: transparent;
  color: #fff;
  font-size: 1.1em;
  border: 1px solid #d8d8d8;
  font-family: "Signika Negative", sans-serif;
}
.header .navBar__menu form input:focus {
  outline: none;
}
.header .navBar__menu form span {
  position: absolute;
  left: 0px;
  top: 40px;
  height: 2.5em;
  width: 100%;
  border-radius: 8px;
  background-color: rgba(255, 0, 119, 0.95);
  opacity: 0;
  transition: 0.2s all ease-in;
}
.header .navBar__menu form span p {
  margin: 0;
  padding: 0.6em 0;
  text-align: center;
  font-size: 1em;
}
.header .navBar__menu form span.show {
  opacity: 1;
}
.header .navBar__menu__btnCartMenu {
  color: #fff;
  padding: 0.8em 1.1em;
  margin: 0;
  cursor: pointer;
  text-align: center;
  position: relative;
}
.header .navBar__menu__btnCartMenu i {
  font-size: 1.4em;
  vertical-align: bottom;
  padding: 0;
}
.header .navBar__menu__btnCartMenu:hover {
  background-color: #a400e6;
}
.header .navBar__menu__btnCartMenu-counter {
  position: absolute;
  top: 6px;
  right: 0px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 0.9em;
  width: 16px;
  text-align: center;
  padding: 1px;
}
.header .navBar__menu.show {
  top: 50px;
}
.header .navBar__btnCartResponsive {
  color: #fff;
  padding: 0.9em 1.2em;
  margin: 0;
  margin-right: 3em;
  cursor: pointer;
  text-align: center;
  position: relative;
  display: none;
}
.header .navBar__btnCartResponsive i {
  font-size: 1.5em;
  vertical-align: bottom;
  padding: 0;
}
.header .navBar__btnCartResponsive:hover {
  background-color: #a400e6;
}
.header .navBar__btnCartResponsive-counter {
  position: absolute;
  top: 6px;
  right: -1px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 0.9em;
  width: 16px;
  text-align: center;
  padding: 1px;
}
.header .btn__nav {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 575px) {
  .header {
    font-size: 0.8rem;
  }
  .header .navBar {
    width: 100%;
    height: 50px;
  }
  .header .navBar__logo {
    padding: 0.6em 0;
    margin: 0;
    margin-left: 0.5em;
  }
  .header .navBar__menu {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    height: calc(100vh - 50px);
    background: #7f00b2;
    top: -100vh;
    text-align: center;
    transition: 0.6s all ease;
    flex-direction: column;
  }
  .header .navBar__menu li {
    width: 100%;
    margin: 0.6em 0;
    transition: 0.3s all ease;
  }
  .header .navBar__menu li a {
    padding: 1em 1em;
    font-size: 1em;
    font-weight: bold;
  }
  .header .navBar__menu li ul {
    top: 40px;
    text-align: center;
    display: none;
    min-width: 100%;
    position: absolute;
  }
  .header .navBar__menu li ul li a {
    font-size: 0.9em;
    margin: 0.3em 0;
    padding: 1em;
  }
  .header .navBar__menu form input {
    font-size: 1.1em;
  }
  .header .navBar__menu .navBar__menu__btnCartMenu {
    display: none;
  }
  .header .navBar__btnCartResponsive {
    display: block;
  }
  .header .btn__nav {
    display: block;
    margin-left: 1em;
  }
  .header .btn__nav i {
    padding: 4px 8px;
    font-size: 1em;
  }
  .header .btn__nav i:hover {
    outline: 1px solid #fff;
  }
  .header .btn__nav.active i {
    font-weight: bold;
    outline: 1px solid #fff;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .header {
    font-size: 0.9rem;
  }
  .header .navBar {
    width: 100%;
    height: 50px;
  }
  .header .navBar__logo {
    padding: 0;
    margin: 0;
    margin-left: 0.5em;
  }
  .header .navBar__menu {
    position: fixed;
    width: 100%;
    height: calc(100vh - 50px);
    margin: 0;
    padding: 0;
    background: #7f00b2;
    top: -100vh;
    text-align: center;
    transition: all ease 0.8s;
    flex-direction: column;
  }
  .header .navBar__menu li {
    width: 100%;
    margin: 0.6em 0;
  }
  .header .navBar__menu li a {
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
  }
  .header .navBar__menu li ul {
    top: 40px;
    text-align: center;
    min-width: 100%;
    display: none;
    position: absolute;
  }
  .header .navBar__menu li ul li a {
    font-size: 0.9em;
    margin: 0.3em 0;
    padding: 1em;
  }
  .header .navBar__menu form input {
    font-size: 1.1em;
  }
  .header .navBar__menu .navBar__menu__btnCartMenu {
    display: none;
  }
  .header .navBar__btnCartResponsive {
    display: block;
  }
  .header .btn__nav {
    display: block;
    margin-left: 1em;
  }
  .header .btn__nav i {
    padding: 4px 8px;
  }
  .header .btn__nav i:hover {
    outline: 1px solid #fff;
  }
  .header .btn__nav.active i {
    font-weight: bold;
    outline: 1px solid #fff;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .header {
    font-size: 0.9rem;
  }
  .header .navBar {
    width: 100%;
    height: 50px;
  }
  .header .navBar__logo {
    padding: 0;
    margin: 0;
    margin-left: 0.5em;
  }
  .header .navBar__menu {
    position: fixed;
    width: 100%;
    height: calc(100vh - 50px);
    margin: 0;
    padding: 0;
    background: #7f00b2;
    top: -100vh;
    text-align: center;
    transition: all ease 0.8s;
    flex-direction: column;
  }
  .header .navBar__menu li {
    width: 100%;
    margin: 0.6em 0;
  }
  .header .navBar__menu li a {
    padding: 0.8em 1em;
    font-size: 1.1em;
    font-weight: bold;
  }
  .header .navBar__menu li ul {
    top: 40px;
    text-align: center;
    min-width: 100%;
    display: none;
    position: absolute;
  }
  .header .navBar__menu li ul li a {
    font-size: 0.9em;
    margin: 0.3em 0;
    padding: 1em;
  }
  .header .navBar__menu form input {
    font-size: 1.1em;
  }
  .header .navBar__menu .navBar__menu__btnCartMenu {
    display: none;
  }
  .header .navBar__btnCartResponsive {
    display: block;
  }
  .header .btn__nav {
    display: block;
    margin-left: 1em;
  }
  .header .btn__nav i {
    padding: 4px 8px;
  }
  .header .btn__nav i:hover {
    outline: 1px solid #fff;
  }
  .header .btn__nav.active i {
    font-weight: bold;
    outline: 1px solid #fff;
  }
}
.productsInformation {
  font-size: 1rem;
  width: 90%;
  height: 94px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.productsInformation__title {
  font-size: 1.6em;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0;
}
.productsInformation__results {
  font-size: 1.2em;
  font-family: "Signika Negative", sans-serif;
  margin: 0;
}

.productsContainer {
  width: 90%;
  font-size: 1rem;
  padding: 0;
  margin: 0.6em auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.productsContainer__item {
  background-color: #fff;
  display: flex;
  width: 180px;
  margin: 0.7em 0.45em;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.2s ease;
}
.productsContainer__item:hover {
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.25);
}
.productsContainer__item:hover button {
  opacity: 1;
}
.productsContainer__item__info {
  margin: 0 0.8em;
  position: relative;
}
.productsContainer__item__info img {
  width: 100%;
  height: 190px;
  margin-bottom: 0.7em;
  cursor: pointer;
  transition: 0.4s ease;
}
.productsContainer__item__info img.back {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.productsContainer__item__info img:hover.back {
  opacity: 1;
}
.productsContainer__item__info .productsContainer__item__info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 110px;
}
.productsContainer__item__info__name {
  margin: 0;
  padding: 0;
  min-height: 3.5em;
  font-weight: 300;
  font-size: 1em;
  font-family: "Rubik", sans-serif;
}
.productsContainer__item__info__price {
  margin: 0;
  margin-bottom: 0.8em;
  font-family: "Signika Negative", sans-serif;
  font-size: 1.2em;
}
.productsContainer__item button {
  position: absolute;
  bottom: 0.8em;
  right: 0.95em;
  opacity: 0;
  padding: 6px 15px;
  border-radius: 8px;
  background-color: #7f00b2;
  text-align: center;
  color: #fff;
  border: none;
  transition: 0.5s all ease;
  cursor: pointer;
}
.productsContainer__item button:hover {
  background-color: #9c0ed4;
}
.productsContainer__item button i {
  font-size: 1.3em;
}

@media only screen and (max-width: 575px) {
  .productsInformation {
    font-size: 0.7rem;
  }

  .productsContainer {
    width: 90%;
    font-size: 0.9rem;
    padding: 0;
    margin: 0.5em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .productsContainer__item {
    display: flex;
    width: 100%;
    margin: 0.4em 0;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.2s ease;
  }
  .productsContainer__item__info {
    margin: 0;
    padding: 0.5em 2em;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .productsContainer__item__info img {
    width: 120px;
    height: 130px;
    margin-bottom: 0;
  }
  .productsContainer__item__info img.back {
    top: 0.5em;
    left: 2em;
  }
  .productsContainer__item__info .productsContainer__item__info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1em 1em 1em 1em;
  }
  .productsContainer__item__info__name {
    text-align: right;
  }
  .productsContainer__item__info__price {
    margin: 0;
    text-align: left;
  }
  .productsContainer button {
    bottom: 25px;
    right: 40px;
    opacity: 1;
    padding: 7px 17px;
    border-radius: 8px;
    background-color: #7f00b2;
    text-align: center;
    color: #fff;
    border: none;
    transition: 0.5s all ease;
  }
  .productsContainer button:hover {
    background-color: #9c0ed4;
  }
  .productsContainer button i {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .productsInformation {
    font-size: 0.8rem;
  }

  .productsContainer {
    font-size: 0.9rem;
  }
  .productsContainer__item {
    width: 150px;
    margin: 0.5em 0.4em;
  }
  .productsContainer__item__info {
    margin: 0 0.7em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .productsContainer__item__info img {
    width: 100%;
    height: 160px;
    margin-bottom: 0.7em;
  }
  .productsContainer__item__info .productsContainer__item__info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
  }
  .productsContainer__item__info__name {
    margin: 0;
    padding: 0;
    min-height: 0em;
    font-size: 0.95em;
  }
  .productsContainer__item__info__price {
    margin: 0;
    margin-bottom: 1em;
  }
  .productsContainer__item button {
    opacity: 1;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .productsInformation {
    font-size: 0.9rem;
  }

  .productsContainer {
    font-size: 0.9rem;
  }
  .productsContainer__item {
    width: 160px;
    margin: 0.5em 0.4em;
  }
  .productsContainer__item__info {
    margin: 0 0.7em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .productsContainer__item__info img {
    width: 100%;
    height: 170px;
    margin-bottom: 0.7em;
  }
  .productsContainer__item__info .productsContainer__item__info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
  }
  .productsContainer__item__info__name {
    margin: 0;
    padding: 0;
    min-height: 0em;
    font-size: 0.95em;
  }
  .productsContainer__item__info__price {
    margin: 0;
    margin-bottom: 1em;
  }
}
.cart {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0;
  right: -100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  transition: 0.4s linear all;
}
.cart.show {
  right: 0px;
}
.cart.show .cart__sideContainer {
  right: 0;
}
.cart__sideContainer {
  font-size: 1em;
  position: fixed;
  right: -100%;
  height: 100%;
  width: 26%;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  background: #e7e7e7;
  transition: 0.4s linear all;
}
.cart__sideContainer__title {
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 2em;
  margin-top: 1.7em;
  padding: 0.6em 0 0.8em 0;
  cursor: pointer;
  border-bottom: 2px #7f00b2 solid;
}
.cart__sideContainer__title i.fa-angle-right {
  color: #7f00b2;
  margin-left: 0.5em;
  font-size: 1.9em;
}
.cart__sideContainer__title p {
  font-size: 1.4em;
  margin: 0;
  font-weight: 500;
}
.cart__sideContainer__items {
  width: 100%;
  height: 55%;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
}
.cart__sideContainer__items__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.6em 0;
  border-bottom: 1px solid #9b9b9b;
}
.cart__sideContainer__items__item__main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}
.cart__sideContainer__items__item__main p {
  width: 200px;
  font-size: 1em;
  font-weight: 300;
}
.cart__sideContainer__items__item__main__btnDelete {
  border: none;
  background: none;
  height: 30px;
  width: 30px;
  color: red;
  font-size: 1.3em;
  opacity: 0.6;
  transition: 0.5s ease all;
  cursor: pointer;
}
.cart__sideContainer__items__item__main__btnDelete:hover {
  opacity: 1;
}
.cart__sideContainer__items__item__description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
.cart__sideContainer__items__item__description img {
  width: 70px;
  height: 90px;
}
.cart__sideContainer__items__item__description__units {
  display: flex;
  align-items: center;
}
.cart__sideContainer__items__item__description__units p {
  font-size: 1.1em;
  font-family: "Signika Negative", sans-serif;
}
.cart__sideContainer__items__item__description__units__btn {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  height: 70px;
  justify-content: space-between;
}
.cart__sideContainer__items__item__description__units__btn button {
  border: none;
  height: 30px;
  width: 40px;
  color: #fff;
  transition: 0.5s ease all;
}
.cart__sideContainer__items__item__description__units__btn__add {
  background: #000;
  opacity: 0.3;
}
.cart__sideContainer__items__item__description__units__btn__add:hover {
  opacity: 0.6;
}
.cart__sideContainer__items__item__description__units__btn__rest {
  background: #000;
  opacity: 0.3;
}
.cart__sideContainer__items__item__description__units__btn__rest:hover {
  opacity: 0.6;
}
.cart__sideContainer__items__item__description__price {
  font-size: 1.1em;
  font-family: "Signika Negative", sans-serif;
}
.cart__sideContainer__resume {
  margin-top: 0.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart__sideContainer__resume__total {
  font-weight: 500;
  font-size: 1.2em;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: "Signika Negative", sans-serif;
}
.cart__sideContainer__resume__btnFinishBuy {
  width: 100%;
  margin-top: 0.5em;
  visibility: hidden;
  color: #fff;
  font-size: 1em;
  padding: 0.7em 0;
  font-family: "Rubik", sans-serif;
  background-color: #7f00b2;
  border-radius: 6px;
  cursor: pointer;
}
.cart__sideContainer__resume__btnFinishBuy.show {
  visibility: visible;
}

@media only screen and (max-width: 575px) {
  .cart {
    right: -300vw;
    z-index: 50;
    width: 0px;
    font-size: 0.9rem;
  }
  .cart.show {
    right: 0px;
  }
  .cart.show .cart__sideContainer {
    right: 0px;
  }
  .cart__sideContainer {
    right: -300vw;
    width: 100vw;
    padding: 0;
    transition: 0.6s linear all;
  }
  .cart__sideContainer__title {
    margin: 0.5em 2em;
  }
  .cart__sideContainer__items {
    margin: 0 2em;
    width: auto;
  }
  .cart__sideContainer__resume__btnFinishBuy {
    width: 90%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .cart {
    right: -300vw;
    z-index: 50;
    width: 0px;
    font-size: 0.9rem;
  }
  .cart.show {
    right: 0px;
  }
  .cart.show .cart__sideContainer {
    right: 0px;
  }
  .cart__sideContainer {
    right: -300vw;
    width: 100vw;
    padding: 0;
    transition: 0.6s linear all;
  }
  .cart__sideContainer__title {
    margin: 0.5em 2em;
  }
  .cart__sideContainer__items {
    margin: 0 2em;
    width: auto;
  }
  .cart__sideContainer__resume__btnFinishBuy {
    width: 90%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .cart {
    right: -300vw;
    z-index: 50;
    width: 0px;
    font-size: 1rem;
  }
  .cart.show {
    right: 0px;
  }
  .cart.show .cart__sideContainer {
    right: 0px;
  }
  .cart__sideContainer {
    right: -300vw;
    width: 100vw;
    padding: 0;
    transition: 0.6s linear all;
  }
  .cart__sideContainer__title {
    margin: 0.5em 2em;
  }
  .cart__sideContainer__items {
    margin: 0 2em;
    width: auto;
  }
  .cart__sideContainer__resume__btnFinishBuy {
    width: 90%;
  }
}
.header-form {
  width: 100%;
  height: 110px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Rubik", sans-serif;
  border-bottom: 1px solid #7f00b2;
}
.header-form h1 {
  font-size: 2.3em;
  color: #7f00b2;
  margin: 0;
  padding: 0.6em 0 0.2em 0;
  cursor: pointer;
}
.header-form p {
  font-size: 0.9em;
  padding: 0;
  margin: 0;
}

.btnBackHome {
  font-size: 1.1rem;
  position: absolute;
  top: 45px;
  left: 100px;
  cursor: pointer;
  color: #7f00b2;
  font-family: "Rubik", sans-serif;
}
.btnBackHome:hover {
  font-weight: 500;
}

.buyFinishToasty {
  font-size: 1rem;
  position: absolute;
  top: calc(50vh - 180px);
  left: calc(50vw - 150px);
  width: 300px;
  height: 180px;
  padding: 0.7em;
  font-family: "Rubik", sans-serif;
  background-color: #fff;
  border-radius: 16px;
  border: 2px solid #7f00b2;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
.buyFinishToasty.visible {
  display: block;
}
.buyFinishToasty h2 {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0.5em 0;
  font-size: 1.4em;
  font-weight: 500;
  border-bottom: 1px #7f00b2 solid;
}
.buyFinishToasty p {
  margin: 0.8em 0;
  padding: 0;
  font-size: 1.1em;
  text-align: center;
}
.buyFinishToasty button {
  background-color: #7f00b2;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 0.3em 5em;
  margin-left: 3em;
  cursor: pointer;
  font-size: 1em;
  transition: 0.6s ease all;
}
.buyFinishToasty button:hover {
  background-color: #990fcf;
}

.buyInformation {
  font-size: 1rem;
  margin: 2em 0;
  display: grid;
  grid-template-columns: 50% 30%;
  gap: 2em;
  justify-content: center;
}
.buyInformation h2 {
  width: 100%;
  margin: 0;
  padding: 0.5em 0;
  font-size: 1.2em;
  font-weight: 500;
  border-bottom: 1px solid #7f00b2;
  font-family: "Signika Negative", sans-serif;
}
.buyInformation__form {
  padding: 1em 2em;
  border-radius: 15px;
  background-color: #fff;
}
.buyInformation__form form {
  margin: 1.5em 0;
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
}
.buyInformation__form form .form-input {
  width: 97%;
  height: 45px;
  padding: 0;
  font-size: 1em;
  outline: none;
  border: 1px #9b9b9b solid;
  padding-left: 10px;
  transition: 0.6s all ease;
}
.buyInformation__form form .form-input.focus {
  border: 1px solid #7f00b2;
}
.buyInformation__form form .form-input.invalid {
  border: 2px solid #ff4719;
}
.buyInformation__form form .form-element-multiple {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.buyInformation__form form .form-element-multiple input {
  width: 46%;
}
.buyInformation__form form .form-check {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
}
.buyInformation__form form .form-check label {
  font-size: 1.2em;
  margin: 0.3em 0;
}
.buyInformation__form form button {
  background-color: #7f00b2;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 0.4em 4em;
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.6s ease all;
}
.buyInformation__form form button:hover {
  background-color: #990fcf;
}
.buyInformation__cartContent {
  background-color: #fff;
  padding: 1em 2em;
  border-radius: 15px;
  font-family: "Rubik", sans-serif;
}
.buyInformation__cartContent__products {
  width: 100%;
  height: 250px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  margin: 0.6em 0;
}
.buyInformation__cartContent__products__item {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0.3em;
  border-bottom: 1px solid #9b9b9b;
}
.buyInformation__cartContent__products__item img {
  width: 70px;
  height: 80px;
}
.buyInformation__cartContent__products__item__description {
  display: flex;
  flex-direction: column;
  width: 120px;
}
.buyInformation__cartContent__products__item__description__name {
  font-size: 0.9em;
  padding: 0;
  margin: 0.4em 0;
}
.buyInformation__cartContent__products__item__description__units {
  font-size: 1em;
  padding: 0;
  margin: 0;
  font-family: "Signika Negative", sans-serif;
}
.buyInformation__cartContent__products__item__price {
  font-size: 0.9em;
  font-family: "Signika Negative", sans-serif;
}
.buyInformation__cartContent__resume__total {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  text-align: center;
}

@media only screen and (max-width: 575px) {
  .header-form {
    font-size: 0.9rem;
  }

  .btnBackHome {
    font-size: 1rem;
    top: 86px;
    left: 20px;
  }

  .buyInformation {
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
  }
  .buyInformation__form form .form-input {
    width: 96%;
  }
  .buyInformation__form form .form-element-multiple {
    width: 100%;
  }
  .buyInformation__form form .form-element-multiple input {
    width: 44%;
  }
  .buyInformation__cartContent {
    display: none;
  }

  .buyFinishToasty {
    font-size: 0.9rem;
    top: calc(50vh - 140px);
    height: 160px;
  }
  .buyFinishToasty button {
    margin-left: 4em;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .header-form {
    font-size: 0.9rem;
  }

  .btnBackHome {
    font-size: 1rem;
    top: 86px;
    left: 20px;
  }

  .buyInformation {
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
  }
  .buyInformation__form form .form-input {
    width: 96%;
  }
  .buyInformation__form form .form-element-multiple {
    width: 100%;
  }
  .buyInformation__form form .form-element-multiple input {
    width: 44%;
  }
  .buyInformation__cartContent {
    display: none;
  }

  .buyFinishToasty {
    font-size: 0.9rem;
    top: calc(50vh - 140px);
    height: 160px;
  }
  .buyFinishToasty button {
    margin-left: 4em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .header-form {
    font-size: 0.9rem;
  }

  .btnBackHome {
    font-size: 1rem;
    top: 86px;
    left: 20px;
  }

  .buyInformation {
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: 50% 40%;
    justify-content: center;
  }
  .buyInformation__form form .form-input {
    width: 96%;
  }
  .buyInformation__form form .form-element-multiple {
    width: 100%;
  }
  .buyInformation__form form .form-element-multiple input {
    width: 44%;
  }

  .buyFinishToasty {
    font-size: 0.9rem;
    top: calc(50vh - 140px);
    height: 160px;
  }
  .buyFinishToasty button {
    margin-left: 4em;
  }
}
.footer {
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  width: 100%;
  background-color: #7f00b2;
  margin-bottom: 0;
}
.footer-svg {
  height: 3em;
  fill: #e0e0e0;
}
.footer__content {
  padding: 2em 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  color: #fff;
}
.footer__content a {
  color: #fff;
  text-decoration: none;
}
.footer__content h4 {
  margin: 0;
  font-size: 1.1em;
  padding: 0;
  margin-bottom: 0.4em;
  opacity: 0.6;
}
.footer__content__links {
  display: flex;
  flex-direction: column;
  font-weight: 400;
}
.footer__content__links a {
  width: 170px;
  font-size: 0.9em;
  padding: 0.3em 0;
  margin: 0.1em 0;
  opacity: 0.8;
}
.footer__content__links a:hover {
  opacity: 1;
}
.footer__content__social {
  display: flex;
  flex-direction: column;
}
.footer__content__social div {
  display: flex;
  gap: 1em;
  margin: 0;
}
.footer__content__social div a {
  padding: 0;
  margin: 0;
  font-size: 2.2em;
}
.footer__content__social div a :hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 575px) {
  .footer {
    font-size: 0.9rem;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background: rgba(0, 0, 0, 0.12);
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

.mainInformation {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: url("./../assets/images/mainBackground.jpg");
  background-position: top;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: saturation;
  transition: 0.8s ease all;
  font-family: "Rubik", sans-serif;
}
.mainInformation:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.mainInformation:hover .mainInformation__content {
  opacity: 1;
}
.mainInformation__content {
  color: #fff;
  width: 80%;
  margin: 0 auto;
  height: 250px;
  opacity: 0;
  transition: 0.8s ease all;
}
.mainInformation__content h1 {
  padding: 0;
  margin: 0;
  font-size: 2.5em;
  margin-bottom: 0.6em;
  letter-spacing: 2px;
}
.mainInformation__content h2 {
  font-size: 1.6em;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.mainInformation__content p {
  font-size: 1.9em;
  text-align: center;
  font-weight: 300;
  font-style: italic;
}
.mainInformation-svg {
  fill: #7f00b2;
  height: 140px;
}

.productAddToast {
  font-size: 1rem;
  position: fixed;
  bottom: 1.2em;
  right: 1.2em;
  opacity: 0;
  background: #7f00b2;
  border: 1px solid #fff;
  border-radius: 6px;
  transition: 0.5s ease all;
  color: #fff;
  z-index: 400;
  font-family: "Rubik", sans-serif;
}
.productAddToast p {
  display: flex;
  align-items: center;
  font-size: 1em;
  margin: 0;
  padding: 0.6em 1.2em;
  text-align: center;
}
.productAddToast p i {
  margin-right: 6px;
  font-size: 1.2em;
}
.productAddToast.show {
  opacity: 1;
}

@media only screen and (max-width: 575px) {
  .mainInformation {
    font-size: 0.8rem;
    height: calc(100vh - 80px);
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .mainInformation__content {
    opacity: 1;
  }
  .mainInformation-svg {
    fill: #7f00b2;
    height: 100px;
  }

  .productAddToast {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .mainInformation {
    font-size: 0.8rem;
    height: calc(100vh - 80px);
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .mainInformation__content {
    opacity: 1;
  }
  .mainInformation-svg {
    fill: #7f00b2;
    height: 100px;
  }

  .productAddToast {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .mainInformation {
    font-size: 0.9rem;
    height: calc(100vh - 80px);
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .mainInformation__content {
    opacity: 1;
  }
  .mainInformation-svg {
    fill: #7f00b2;
    height: 100px;
  }

  .productAddToast {
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=styles.css.map */
